div {
	border : 2px solid grey;
	margin: 4px;
	padding: 4px;
}
div#list {
	float: left;
	width: 200px;
	height: 300px;
}

div#prj {
	float: left;
	width: 400px;
	height: 300px;
}

div#item {
	float: left;
	width: 300px;
	height: 300px;
}
